<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="DirectoriesToWatch" value="C:\,D:\"/>
  <add key="ApiUrl" value="http://localhost:4567/"/>
  <add key="DefaultDirectoriesToWatch" value="C:\"/>
  <add key="DropboxDirectory" value="D:\Dropbox\Dropbox\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
