<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="DirectoriesToWatch" value="C:\\,D:\\" />
  <add key="ApiUrl" value="" />
  <add key="DefaultDirectoriesToWatch" value="C:\\" />
  <add key="DropboxDirectory" value="D:\\Dropbox\\Dropbox\\" />
  </appSettings>
</configuration>